.CommuWrite__wrap {}

.write__header {
    width: 100%;
    max-width: 1220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.write__header h3 {
    flex-grow: 1;
    text-align: center;
}

.write__header span:first-child {
    margin-right: 15px;
}