/* 스타일 콘텐츠 */
.style_wrap .style_title {
    width: 100%;
    display: flex;
    padding: 0.7rem 0;
    justify-content: space-between;
    align-items: center;
}

.style_wrap .style_title h4 {
    font-size: 1rem;
}

.style_wrap .style_title a {
    display: block;
    color: var(--gray);
    padding: 0.2rem 0.5rem;
    font-size: 0.9rem;
    border-radius: 5px;
    transition: 0.4s ease;
}

.style_wrap .style_title a:hover {
    color: var(--main-color);
}

/* 스타일 리스트 공통 디자인 */
.style_wrap>ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    width: 100%;
}

.style_wrap>ul li {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--line);
}


/* banner */
.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 2rem 0;
}


/* main card */
.style_item .main_card a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* more */
.style_item .main_card:hover a>div {
    opacity: 0.7;
}

.style_item .main_card a::after {
    content: "More ->";
    position: absolute;
    bottom: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    padding: 1rem;
    background: var(--dark);
    color: var(--white);
    width: 100%;
    transition: 0.6s ease;
}

.style_item .main_card:hover a::after {
    bottom: 0%;
}

/* style_item img list */
.style_item li a>img {
    transform: scale(1.1);
    transition: 0.4s ease;
}

.style_item li:hover a>img {
    transform: scale(1);
}


/* [weather] 날씨 카드 */
.style_item .main_card .weather {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--white);
    text-align: center;
    padding: 2.5rem 0;
    background: #353535;
    transition: 0.4s ease;
}

.style_item .main_card .weather h5 {
    font-size: 1.3rem;
}

.style_item .main_card .weather img {
    width: 100%;
    max-width: 100px;
    margin: 1rem 0;
}

.style_item .main_card .weather p {
    font-size: 1rem;
}

.style_item .main_card .weather span {
    display: block;
    font-size: 0.9rem;
    color: var(--gray);
}

.style_wrap>span {
    font-size: 0.85rem;
    background-color: var(--bright);
    color: var(--gray);
    display: inline-block;
    margin: .5rem 0;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}

.style_wrap>span:hover {
    color: var(--main-color);
    background-color: var(--sub-color);
}


/* [popular_users] 인플루언서 카드 */
.style_item .main_card .text {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 2.5rem 0;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 1.3rem;
    text-align: center;
    transition: 0.4s ease;
}

.popular_users .text {
    background: #a655e4;
}

.style_item.popular_users li a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.style_item.popular_users li a:hover img {
    transform: scale(1);
}

.popular_users .user_img img {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    position: relative;
    top: 0;
    left: 0;
    transition: 0.4s ease;
}

.popular_users .user_info {
    width: 100%;
    height: 80px;
    position: absolute;
    z-index: 50;
    background-color: var(--white);
    bottom: 0;
    left: 0;
    padding: 0.5rem;
}

.popular_users .user_info img {
    width: 4rem;
    border: 3px solid var(--white);
    margin-top: -2rem;
    border-radius: 50%;
}

.popular_users .user_info button {
    float: right;
    padding: 0.25rem 0.6rem;
    border-radius: 5px;
    color: var(--main-color);
    background-color: #ffe8fd;
    cursor: pointer;
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
    transition: 0.2s ease;
}

.popular_users .user_info button:hover {
    background-color: var(--main-color);
    color: var(--white);
}

.popular_users .user_text {
    display: flex;
    margin: 0.5rem 0.3rem;
}

.popular_users .user_name {
    width: 40%;
    font-weight: 500;
}

.popular_users .user_tag {
    width: 60%;
    display: flex;
    justify-content: right;
    font-size: 0.9rem;
    color: var(--dark-gray);
    text-align: right;
}

.popular_users .user_tag p:first-child {
    margin-right: 0.3rem;
}

/* [board] 커뮤니티 카드 */
.popular_board .text {
    background: #3699ea;
}

.popular_board li a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.popular_board .board_img img {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    position: relative;
    top: 0;
    left: 0;
    transition: 0.4s ease;
}

.popular_board .board_info {
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 50;
    background-color: var(--white);
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.popular_board .board_text h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    font-size: 1.1rem;
}

.popular_board .board_reaction span {
    display: inline-block;
    font-size: .9rem;
    color: var(--gray);
}

.popular_board .board_reaction span:first-child {
    margin-right: 0.3rem;
}

/* img hover 효과 */
.board_img>img {
    transform: scale(1.1);
    transition: 0.4s ease;
}

.board_img:hover img {
    transform: scale(1);
}


/* [tag] 해시태그 카드 */
.style_item .main_card .tag {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 2.5rem 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    font-size: 1.3rem;
    text-align: center;
    transition: 0.4s ease;
}

.tag.color_pop01 {
    background: #2cd293;
}

.tag.color_pop02 {
    background: #f070b7;
}

.tag.color_pop03 {
    background: #e4b722;
}


@media (max-width: 1280px) {
    .style_wrap>ul {
        grid-template-columns: repeat(4, 1fr);
    }

    .style_wrap>ul>li {
        grid-column: span 1;
    }

    .style_wrap>ul>li.main_card {
        grid-column: span 4;
    }
}

@media (max-width: 620px) {
    .style_wrap>ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .style_wrap>ul>li.main_card {
        grid-column: span 2;
    }

    .banner img {
        height: 160px;
    }

    .popular_users .user_text {
        flex-direction: column;
    }

    .popular_users .user_name {
        width: 100%;
    }

    .popular_users .user_tag {
        width: 100%;
        justify-content: left;
        font-size: 0.9rem;
        color: var(--gray);
        text-align: right;
    }
}