@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-style: normal;
    src: url('/assets/fonts/Pretendard-ExtraLight.woff2') format('woff2'),
        url('/assets/fonts/Pretendard-ExtraLight.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-style: normal;
    src: url('/assets/fonts/Pretendard-Light.woff2') format('woff2'),
        url('/assets/fonts/Pretendard-Light.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('/assets/fonts/Pretendard-Regular.woff2') format('woff2'),
        url('/assets/fonts/Pretendard-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src: url('/assets/fonts/Pretendard-Medium.woff2') format('woff2'),
        url('/assets/fonts/Pretendard-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src: url('/assets/fonts/Pretendard-Bold.woff2') format('woff2'),
        url('/assets/fonts/Pretendard-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-style: normal;
    src: url('/assets/fonts/Pretendard-Black.woff2') format('woff2'),
        url('/assets/fonts/Pretendard-Black.woff') format('woff');
    font-display: swap;
}